html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: $color__background-body;
    /* Fallback for when there is no custom background color defined. */
    font-family: $font__main !important;
    color: $color__text-main;
}

img {
    vertical-align: unset;
}

a{
    &:hover {
        text-decoration: none;
    }
}

hr {
    background-color: $color__background-hr;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

@import "lists";
img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

/*MM Customizations*/


/* General Styles */

.mm-tagline,
h2 {
    font-weight: 300;
}

h2 {
    font-size: 40px;
    text-align: center;
    z-index: 3;
}

h3 {
    font-weight: 500;
    line-height: 1.3;
    font-size: 26px;
    color: #666666;
}

#masthead {
    background: white;
    width: 100%;
    // height: 127px;
    height: auto;
    position: fixed;
    z-index: 10;
    box-shadow: 0 20px 95px -20px rgba(0, 0, 0, 0.25);
    transition: height 0.2s ease;
}

.btn {
    // background: $color__brand-primary;
    color: white !important;
    padding: 7px 33px;
    text-align: center;
    border-radius: 0;
    margin: 0 auto;
    font-size: 18px;
    &:hover {
        background: #268aef;
    }
}

.learn-more:hover {
    color: white;
}

#main-footer {
    background: #2d2d2d;
    width: 100%;
    min-height: 420px;
    padding-top: 60px;
    width: 100%;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 50% 15% !important;
    color: #888585;
    font-size: 12px;
    font-weight: normal;
    p {
        margin-top: 12px;
        margin-bottom: 1rem;
    }
}


/* Titlebar */

#mm-homepage-slider {
    position: relative;
    height: 100vh;
    width: 100vw;
    .mm-overlay {
        position: absolute;
        top: 0;
        background: rgba(60, 62, 64, 0.2);
        z-index: 3;
        width: 100%;
        height: 100%;
    }
}

.mm-lo-overlay {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: transparent;
}

.mm-captions-wrapper {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 17vh;
    color: white;
    width: 100%;
    height: 100%;
    padding-left: 200px;
    z-index: 9;
    h1 {
        font-size: 60px;
        margin-bottom: 30px;
        max-width: 600px;
        text-align: left;
    }
    p {
        font-size: 24px;
    }
}

.slide-text {
    max-width: 900px;
}

.mm-slider-btns-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    div {
        border: 1px solid white;
        padding: 10px 62px;
        border-radius: 1px;
        text-transform: uppercase;
        cursor: pointer;
        text-align: left !important;
        &:hover {
            // border: 1px solid $color__brand-primary;
            // background: $color__brand-primary;
            color: white !important;
        }
    }
}

.mm-titlebar {
    height: 350px;
    min-width: 500px;
    // background: $color__brand-primary;
    overflow: hidden;
    background-attachment: fixed;
    height: 325px;
    transition: margin-top 0.2s ease;
    background-attachment: fixed;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    >.container-fluid {
        padding: 0;
    }
}

.container-fluid.mm-full-height {
    padding: 0;
}

.mm-titlebar-title {
    width: 100%;
    text-align: left !important;
    >h1 {
        text-transform: none;
        font-weight: 300;
        font-size: 42px;
        text-shadow: none;
        color: white;
        text-align: center;
        font-size: 55px;
    }
}

h2.entry-title {
    text-align: left;
}

h1.mm-entry-title {
    text-align: left;
    text-transform: uppercase;
    text-shadow: none;
    color: white;
    font-weight: lighter;
    text-align: center;
    font-size: 50px;
}

.container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    padding-top: 40px;
}

h1.mm-callout {
    color: #181818;
    font-size: 43px;
    font-weight: 300;
    margin-top: 45px;
    text-align: center;
    max-width: 800px;
    line-height: 1.4;
    margin: 0 auto;
    letter-spacing: -.02em;
}

.intro-p {
    margin: 12px auto;
    text-align: center;
    color: #2e2e2f;
    text-align: center;
    line-height: 1.9;
    font-size: 18px;
    font-weight: 300;
}

.mm-borrower-ratings-wrapper {
    text-align: center;
    padding-top: 55px;
}

.mm-review-tagline {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    max-width: none !important;
}

img#socialsurvey-logo {
    max-width: 200px;
    margin-top: 5px;
    margin-bottom: -10px;
}

#mm-five-stars {
    font-size: 30px;
    color: #009aff;
}

.mm-tagline {
    padding: 0;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 34px;
    line-height: 38px;
    color: #181818;
    font-size: 29px;
}

.mm-homepage-blurb {
    padding: 40px 40px 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    h1.mm-callout {
        margin-bottom: 30px;
    }
    p {
        max-width: 935px;
        margin: 0 auto 10px;
    }
}

.branch-homepage.mm-homepage-blurb {
    display: block;
}

.lo-site.mm-homepage-blurb {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    h1.mm-callout {
        margin-bottom: 30px;
    }
    p {
        max-width: 935px;
        margin: 0 auto 10px;
    }
    .intro-p {
        max-width: 60%;
        margin: 0;
        text-align: left;
        font-size: 17px;
    }
}


/* Main Navigation */

.main-navigation ul {
    ul {
        top: 101%;
    }
}

.menu-top-menu-container,
header>div:first-of-type,
nav#site-navigation,
ul#primary-menu {
    height: 100%;
}

nav#site-navigation {
    max-width: 90%;
    margin: 0 auto;
}

nav#site-navigation,
ul#primary-menu {
    height: 72px;
    padding-top: 5px;
}

nav#site-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul#primary-menu {
    list-style-type: none;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    li {
        display: inline;
        height: 100px;
        a {
            height: 95%;
            padding: 36px 0;
            margin: 0 10px;
            transition: all 0.2s ease;
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
            margin-left: 12px;
            color: #504e4e;
            letter-spacing: 0.35px;
        }
    }
}

ul#primary-menu>li>a:hover {
    text-decoration: none;
    color: #181818;
    // border-bottom: 4px solid $color__brand-primary;
}

ul#primary-menu>.mm-nav-apply-btn a:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: none !important;
}

ul.sub-menu {
    background: white;
    margin-left: -42px !important;
    margin-top: -5px !important;
    background: white;
    padding: 12px 0;
    text-align: center;
    width: 242px !important;
    min-width: 242px;
    >a:hover {
        border-bottom: none !important;
    }
    li {
        height: 55px !important;
        min-width: 215px !important;
        width: 100% !important;
        a {
            padding: 15px 10px 10px !important;
            margin: 0 0 !important;
            height: 100% !important;
            width: 100% !important;
        }
    }
}

ul.sub-menu li a:hover {
    background: #3299ff;
    color: white !important;
}

.mm-nav-apply-btn a {
    padding: 7px 19px !important;
    // background: $color__brand-primary !important;
    height: 44px !important;
    color: white !important;
    margin-top: 28px !important;
    margin-right: 16px !important;
    margin-left: 11px !important;
    font-size: 16px !important;
    border-radius: 0;
    transition: all 0.3s ease !important;
    &:hover {
        background: #268aef !important;
    }
}


/* Mobile Navigation */

#mobile-menu ul.sub-menu {
    width: 100% !important;
    background: transparent;
    margin-left: 0 !important;
    transition: all 0.2s ease;
    display: none;
    padding-bottom: 15px;
}


/* Form Modal */

.modal-form-container {
    background: white;
    width: 60vw;
    margin: 0 auto;
}


/* Popup menu */

span#mm-main-menu-icon {
    cursor: pointer;
}

.mm-hamburger-box.mm-main-menu-icon {
    position: relative;
    margin-left: 7px;
    margin-top: -2px;
}

.mm-hamburger-box span {
    height: 2px;
    width: 27px;
    background: #656565;
    position: absolute;
}

.mm-hamburger-1 {
    top: -7px;
}

.mm-hamburger-3 {
    top: 7px;
}

i.fa.fa-bars.mm-main-menu-icon {
    color: rgba(102, 102, 102, 0.8);
    padding: 8px;
    border-radius: 100%;
    width: 39px;
    height: 39px;
    font-size: 22px;
}

.mm-main-menu-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background: rgba(51, 153, 255, 0.95);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    top: 0;
    color: white;
    font-weight: 600;
    line-height: 2;
    left: 0;
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
    overflow: scroll;
    .mm-main-menu {
        font-size: 28px;
        height: 100%;
        padding-top: 60px;
        hr {
            margin-top: 42px;
            margin-BOTTOM: 40px;
            max-width: 90px;
            margin: 42px auto 0;
            background-color: rgba(255, 255, 255, 0.84);
        }
        .mm-social-icons li a {
            border: none !important;
            font-size: 21px;
            opacity: 0.8 !important;
            padding: 0;
            width: 30px;
            margin-top: 22px;
        }
        .mm-social-icons li a,
        .mm-social-icons li a:active,
        .mm-social-icons li a:visited,
        .mm-social-icons ul li a:hover>i,
        .mm-social-icons ul li a:hover>i:hover {
            color: white !important;
        }
        a {
            text-decoration: none;
            color: white;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }
}

#mm-close-main-menu {
    margin-right: -6px;
    margin-top: -4px;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    text-align: right;
    justify-content: flex-start;
    position: relative;
    transition: all 0.3s ease;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.mm-hamburger-box.mm-main-menu-icon.mm-close-menu-icon span {
    background: white;
}

.mm-close-menu-icon .mm-hamburger-1 {
    display: none !important;
    visibility: hidden !important;
}

.mm-close-menu-icon .mm-hamburger-2 {
    transform: rotate(45deg);
}

.mm-close-menu-icon .mm-hamburger-3 {
    transform: rotate(-45deg);
    top: 0;
}

#mm-close-main-menu:hover {
    opacity: 0.8;
}

.mm-menu-close-wrapper {
    max-width: 90%;
    margin: 0 auto;
    width: 100%;
    text-align: right;
    height: 115px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 5px;
}

#mm-open-main-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100px;
    text-align: right;
    justify-content: flex-start;
    position: relative;
    &:hover {
        color: #181818;
    }
}

#mm-close-main-menu,
span#mm-open-main-menu {
    cursor: pointer;
    margin-right: -20px;
}

span#mm-open-main-menu span {
    font-size: 17px;
    transition: all 0.3s ease;
    color: #535e74;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

span.mm-close-menu-icon {
    font-size: 32px;
    font-size: 32px;
    padding-left: 10px;
}

ul#popup-menu {
    text-transform: uppercase;
}

div#mm-popup-form {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .12);
    border-radius: 3px;
}

.los-trigger {
    cursor: pointer;
}


/* Homepage sections */

.mm-stats {
    width: 100%;
    height: 122px;
    background: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mm-accolades,
.mm-buyers-guide {
    width: 22%;
    text-align: center;
}

.mm-section-header-1,
.mm-section-header-2,
.mm-section-header-3,
.mm-section-header-4 {
    height: 250px;
    height: 32vh;
    max-height: 180px;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 34%;
    margin: 30 0 30px;
    text-align: center;
    position: relative;
    background-attachment: fixed !important;
    .mm-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(60, 62, 64, 0.52);
        z-index: 0;
    }
}

.mm-section-header-1 {
    background: url("/wp-content/themes/manntwentytwenty/assets/about-section-bg_min.png");
}

.mm-section-header-2 {
    background: url("/wp-content/themes/manntwentytwenty/assets/loan-options-section-bg_min.jpg");
}

.mm-section-header-3 {
    background: url("/wp-content/themes/manntwentytwenty/assets/mortgage-calculator-section-bg_min.png");
    background-repeat: no-repeat !important;
    background-position: 30% 55% !important;
}

.section-title {
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    >h2 {
        color: white;
    }
}

.mm-header-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
        max-width: 55px;
        margin-bottom: -25px;
    }
    h3.mm-step-title {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.mm-map-section-header {
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.three-col-row,
.three-col-wrapper {
    background: #FAF9F9;
}

.three-col-wrapper {
    .mm-tagline {
        margin-bottom: 10px;
        margin-top: 30px;
    }
}

.row.three-col-row {
    display: flex;
    max-width: 83%;
    margin: 0 auto;
    min-height: 420px;
}

.three-col {
    width: 95%;
    cursor: pointer;
    text-align: center;
    padding: 20px 0;
    h3 {
        margin-top: -15px;
        margin-bottom: 18px;
        color: #4a4a4a;
    }
}

.three-col1,
.three-col2,
.three-col3 {
    display: none;
}

.three-col-icon-box {
    text-align: center;
    min-height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.three-col-icon {
    max-width: 100px;
}

img.three-col-icon.icon1 {
    width: 28%;
}

img.three-col-icon.icon2 {
    margin-top: 22px;
    width: 18%;
}

.icon3 {
    width: 16%;
    margin-top: 24px;
}

.three-col-header {
    margin-top: -15px;
    margin-bottom: 18px;
}

p.three-col-p {
    color: #4a4a4a;
    font-size: 18px !important;
    margin-top: 10px;
    min-height: 130px;
    text-align: center;
    margin-bottom: 0;
    color: #2e2e2f;
    text-align: center;
    line-height: 1.9;
    font-size: 18px;
    font-weight: 300;
}

.privacy-link-wrapper {
    text-align: center;
    display: flex;
    justify-content: space-around;
    max-width: 575px;
    margin: 0 auto;
    a {
        font-size: 15px;
        color: #656464;
        &:visited {
            color: #3a3939 !important;
        }
    }
}

#mm-privacy-wrapper {
    margin: 42px auto;
    padding: 42px;
    background: #f6f6f69e;
    border-radius: 5px;
    max-width: 85%;
}

.blurb-wrapper {
    padding: 50px 80px 80px;
    background: white;
    right: 39px;
    margin: 20px auto 75px;
    z-index: 3;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.17);
    transform: translateY(-5px);
    background: white !important;
    h2 {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
        font-size: 33px;
    }
}

img.mm-logo-icon {
    width: 82px;
}

.site-navigation {
    transition: all 0.2s ease;
}

a.custom-logo-link {
    img {
        width: 200px;
        min-width: 130px !important;
        transition: all 0.2s ease;
    }
}

.mm-homepage-about-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px 0 0;
    background-size: cover;
    position: relative;
    background-position: 34% 46%;
    background-attachment: fixed;
    .mm-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(51, 153, 255, 0.84);
        background: #f2f2f2;
        z-index: 2;
    }
}

.mm-contact-section {
    background: white;
    padding: 42px;
    line-height: .8
}

.mm-flex-row {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.2;
}

.mm-content-top-grid-box {
    min-height: 164px;
}


/* Footer CTA */

.mm-cta-btm {
    width: 100% !important;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    background: #faf9f9;
    h3 {
        margin-top: -10px;
        margin-bottom: 25px;
    }
    h4 {
        margin: 5px 0 32px;
        font-weight: bold;
        font-size: 17px;
        line-height: 1.3;
    }
}

a.cta-btm-btn {
    text-transform: uppercase;
    cursor: pointer;
    background: #3f484f !important;
    padding: 12px 50px;
    border-radius: 3px;
    font-size: 17px;
    &:hover {
        color: white !important;
        background: #268aef !important;
    }
}

.research-page .mm-cta-btm .btn.theme-button.learn-more,
.pre-approval-page .mm-cta-btm .btn.theme-button.learn-more,
.loan-process-page .mm-cta-btm .btn.theme-button.learn-more {
    background: transparent;
    // color: $color__brand-primary !important;
    font-size: 25px;
    &:hover {
        // background: $color__brand-primary;
        color: #fff !important;
    }
}

.research-page .mm-cta-btm h3,
.pre-approval-page .mm-cta-btm h3,
.loan-process-page .mm-cta-btm h3 {
    margin-bottom: 0;
}


/* Footer */

footer>.container {
    width: 65%;
    color: #636060;
    padding: 0 0 40px;
}

p.mm-disclaimer-wrapper {
    text-align: center;
    line-height: 1.5;
}

.ehl-logo,
div#disclaimer {
    text-align: center;
}

.footer-social-icons ul,
.mm-social-icons ul {
    list-style: none;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    li {
        display: inline-block;
    }
}

.lo-hero.footer-social-icons>ul>li>a:hover>i {
    color: white !important;
}

.lo-hero.footer-social-icons li:hover {
    opacity: .8;
}

footer {
    i {
        font-size: 23px !important;
        padding: 8px;
        color: #8a8888;
    }
    a {
        color: #656464;
        text-decoration: none;
    }
}

.footer-social-icons ul li a,
.mm-social-icons ul li a {
    display: block;
    text-align: center;
    padding: 5px;
    margin: 7px;
    text-decoration: none;
    border-radius: 100%;
    border: 1px solid #8a8888;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
    width: 51px;
}

.footer-social-icons ul li a:hover,
.mm-social-icons ul li a:hover {
    border: 1px solid #268aef;
}

.footer-social-icons ul li a:hover>i,
.mm-social-icons ul li a:hover>i {
    color: #268aef;
}


/* LO hero social icons */

.lo-hero.footer-social-icons li a {
    color: white;
    border-color: white;
    width: 42px;
    &:hover {
        color: white;
        border-color: white;
    }
}


/* homepage carousel */

.carousel-control-next,
.carousel-control-prev {
    top: -35%;
}

.carousel-item>img {
    margin-top: -200px;
}

.carousel-indicators {
    z-index: 4;
    bottom: 60px !important;
}

.carousel-indicators li {
    width: 130px;
    height: 5px;
    background: rgba(232, 232, 232, 0.95);
    border: none;
    margin: 0 6px;
}

.carousel-control-prev-icon,
span.carousel-control-next-icon {
    display: none !important;
    visibility: hidden !important;
}


/* About Page */

.deserves {
    background: url("/wp-content/themes/manntwentytwenty/assets/family-silhouette-light.png") white;
    background-size: contain;
    background-position: 50% 52%;
    height: 420px;
    width: 100vw;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.mm-hero-quote {
    font-weight: 400;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.83);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.lo-site-link {
    margin-top: 12px;
}

.mm-team-page-about-section {
    width: 100%;
    background: #fbf9f9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px 0 90px;
    p {
        max-width: 935px;
        margin: 0 auto;
    }
}

.mm-apply-link-wrapper {
    margin-top: 15px;
    a {
        font-weight: bold;
    }
}

.lo-image {
    margin-top: 10px;
}

h1.lo-name {
    // color: $color__brand-primary;
    font-size: 35px !important;
    text-transform: uppercase;
}

p.lo-name {
    // color: $color__brand-primary;
    font-size: 19px;
    margin-bottom: 7px;
    margin-top: 10px;
    font-weight: 300;
}

.lo-title-nmls-box {
    min-height: 20px;
    line-height: 1;
}

.lo-job-title,
.mm-bold {
    font-weight: bold;
}

.lo-contact-box {
    line-height: 1;
    margin: 10px 0;
}

.lo-second-photo {
    max-width: 35%;
    img {
        width: 69%;
    }
}

.mm-divider-box {
    max-width: 90%;
    border-top: 1px solid #c2ddef;
    margin: 80px auto 42px;
}


/* Responsive Menu */

div#responsive-menu-search-box .responsive-menu-search-box {
    display: none !important;
}


/* Google Maps API */

.mm-map {
    height: 300px;
    width: 100%;
}

div#map {
    width: 100%;
    height: 100%;
}

.gm-style-iw.gm-style-iw-c {
    padding: 23px;
    max-height: 300px !important;
    height: 183px;
    width: 480px;
}

.branch-listing,
.branch-listing h3 {
    text-align: center;
}

.gm-style-iw.gm-style-iw-c button.gm-ui-hover-effect {
    top: -2px !important;
    right: -2px !important;
}


/* Request Appointment page */

form#appointment-form {
    padding: 50px 30px 30px;
}

.scheduler-wrapper {
    // background: $color__brand-primary;
    padding: 40px;
    border-radius: 10px;
}


/* Contact page */

.mm-contact-page {
    background: #F5F5F5;
    width: 100% !important;
    padding: 0;
}

.mm-contact-blurb {
    text-align: center;
    font-size: 20px;
    padding: 35px 0;
    background: #FFF;
    p {
        max-width: 70%;
        margin: 24px auto;
        font-size: 18px;
    }
}

.mm-contact-info-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    h2 {
        margin-bottom: 30px;
        font-size: 25px;
    }
    h4 {
        margin-bottom: 20px;
        font-size: 33px;
        line-height: 1.2;
        color: rgb(101, 101, 101);
    }
    hr {
        background: #d4d4d4;
        border: 0;
        height: 1px !important;
        width: 89%;
        margin: 20px 0 0;
    }
}

.mm-form-wrapper {
    box-shadow: 0 0 40px rgba(34, 34, 34, 0.11);
    padding: 40px;
    background: white;
    max-width: 750px;
    margin: 0 auto;
}

.mm-branch-contact-info.row {
    padding-top: 40px;
    background: #F5F5F5;
    max-width: 90%;
    padding: 80px 0;
    margin: 0 auto;
}


/* Contact page form */

#frm_form_1_container {
    input,
    select,
    textarea {
        border: 1px solid #ccc !important;
        border-radius: 0 !important;
        min-height: 42px !important;
        background: #FFF !important;
        box-shadow: none !important;
    }
    label {
        color: #666 !important;
        font-family: "open sans", sans-serif !important;
        font-size: 16px !important;
        font-size: 1rem;
        line-height: 1.5 !important;
    }
    button.frm_button_submit {
        color: white !important;
        border-radius: 0 !important;
        border: none !important;
        box-shadow: none !important;
        background: #666 !important;
        width: 150px !important;
        height: 50px !important;
        text-transform: uppercase !important;
        transition: all 0.3s ease !important;
    }
    button.frm_button_submit:hover {
        background: gray !important;
    }
    .frm_submit {
        text-align: left;
    }
}


/* Feature product pages */

.mm-content {
    padding-top: 40px;
    max-width: 90%;
    margin: 0 auto;
    h1 {
        text-align: center;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    h3 {
        margin-bottom: 21px;
        font-size: 27px;
    }
}

.mm-basic-ul {
    list-style-type: circle !important;
    text-align: left;
    margin-left: 4vw !important;
}

.hs-highlight {
    color: #5b6e80;
    font-size: 22px;
}

.hs-values {
    background: url("/wp-content/themes/manntwentytwenty/assets/old-wood-background.png") !important;
    background-attachment: fixed !important;
    position: relative;
    display: flex;
    p {
        color: white;
    }
}

.three-col-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(39, 39, 39, .78);
    // margin-top: -21px;
}

.animateIcon {
    animation: iconFadeIn 0.8s;
    animation-fill-mode: forwards;
}

@keyframes iconFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* 404 page */

section.error-404.not-found {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}


/*  Blog */

div#comments {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
}

.mm-blog-post {
    padding: 0 20px;
}

.mm-blog-title h3 {
    color: black;
    margin-top: 14px;
}

.entry-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mm-blog-img-wrapper {
    max-height: 384px;
    overflow: hidden;
    padding-top: 60px;
    img {
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.05);
            transition: linear all 1.6s;
            opacity: 0.9;
        }
    }
}

.mm-blog-filters {
    height: 75px;
    background: #faf9f9;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        li {
            display: inline-block;
            cursor: pointer;
            line-height: 1.2;
            padding: 25px;
            height: 100%;
            &:last-of-type {
                border-right: none !important;
            }
            &:hover {
                opacity: 0.8;
                // border-bottom: 4px solid $color__brand-primary;
            }
        }
    }
}

.mm-homepage-blurb ul.display-posts-listing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    a {
        margin: 25px;
    }
}


nav#blog-nav {
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
}


/* Blog Post */

article.post>.post-thumbnail {
    width: 90%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 42%;
    margin: 42px auto 0;
}

article.post .entry-footer,
nav.navigation.post-navigation {
    display: none !important;
    visibility: hidden !important;
}

article.post .entry-content,
article.post header.entry-header {
    padding: 10px 40px;
}

article.post .entry-content {
    padding: 0 125px 60px;
    width: 75%;
    background: white;
}

.post .entry-content p:first-of-type {
    margin-top: 40px;
}

// .single-post .mm-main-menu-wrapper {
//     background: rgba(255, 255, 255, 0.90);
// }

/* Loading spinner */

.mm-titlebar.mm-lo-home-titlebar {
    display: none;
}

.container.mm-blog-categories {
    display: none;
}

.mm-spinner-wrapper {
    height: 600px;
    display: flex;
    align-items: flex-start;
    padding-top: 12vh;
}

.mm-page-spinner-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mm-page-spinner,
.mm-spinner {
    height: 60px;
    width: 60px;
    margin: 94px auto 0;
    position: relative;
    -webkit-animation: mm-rotation 0.6s infinite linear;
    -moz-animation: mm-rotation 0.6s infinite linear;
    -o-animation: mm-rotation 0.6s infinite linear;
    animation: mm-rotation 0.6s infinite linear;
    border-left: 6px solid rgba(0, 174, 239, .15);
    border-right: 6px solid rgba(0, 174, 239, .15);
    border-bottom: 6px solid rgba(0, 174, 239, .15);
    border-top: 6px solid rgba(0, 174, 239, .8);
    border-radius: 100%;
}

@-webkit-keyframes mm-rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes mm-rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes mm-rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes mm-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media screen and (min-width: 993px) {
    #masthead {
        padding-bottom: 15px;
    }
    .blurb-wrapper {
        max-width: 55%;
        margin-top: 50px;
    }
    .mm-main-nav-homelink {
        display: none !important;
        visibility: hidden !important;
        height: 0 !important;
    }
    .listing-item {
        .title {
            max-width: 80%;
        }
    }
    /* Blog Post */
    article.post {
        padding-top: 95px;
        background: #faf9f9;
    }
    article.post>.post-thumbnail {
        width: 100%;
        height: 420px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 10%;
        margin: 0 auto;
    }
    article.post .entry-content,
    article.post header.entry-header {
        padding: 10px 40px;
        margin: 0 auto;
    }
    article.post .entry-content {
        padding: 0 125px 60px;
        border-radius: 0 0 5px 5px;
        p {
            color: #757575;
            line-height: 2.3;
            font-size: 16px;
        }
    }
    article.post header.entry-header {
        width: 75%;
        padding: 30px 125px 0;
        margin-top: -200px;
        background: rgba(255, 255, 255, .9);
        border-radius: 5px 5px 0 0;
        h1 {
            color: #4a4a4a;
            font-size: 50px;
            text-align: center;
        }
    }
    aside#secondary {
        max-width: 30%;
        float: right;
        margin-right: 5%;
        text-align: left !important;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
    .addtoany_share_save_container.addtoany_content.addtoany_content_top {
        border-bottom: 1px solid #e4e2e2;
        padding-bottom: 15px;
    }
    .addtoany_list.a2a_kit_size_32 a:not(.addtoany_special_service)>span {
        height: 42px;
        line-height: 42px;
        width: 42px;
        border-radius: 100%;
        padding: 4px;
    }
    .a2a_kit.a2a_kit_size_32.addtoany_list span {
        background-color: rgba(51, 153, 255, .72) !important;
    }
    .addtoany_list>a>span {
        height: 42px !important;
        width: 42px !important;
    }
    .mm-testimonials-wrapper {
        padding-top: 42px !important;
    }
}

@media screen and (max-width: 1200px) {
    div#mm-homepage-slider {
        display: none !important;
        visibility: hidden !important;
        height: 0 !important;
    }
    .listing-item {
        width: 100% !important;
        .image {
            max-height: 315px !important;
            margin: 10px;
        }
    }
    ul#primary-menu li a {
        font-size: 12.9px;
    }
    a.custom-logo-link img {
        min-width: 115px !important;
    }
}

@media screen and (max-width: 768px) {
    li.mm-topbar-links {
        display: none !important;
        height: 0 !important;
        visibility: hidden !important;
    }
    .section-title {
        padding: 20px;
    }
    a.btn.theme-button.apply-now-button.learn-more {
        margin-top: 20px;
    }
    .mm-hopmepage-about-section {
        padding: 0 !important;
    }
    .mm-hopmepage-about-section.section-title .blurb-wrapper {
        margin-bottom: 0;
        box-shadow: none !important;
    }
    .mm-btn-set {
        display: inline !important;
        display: block !important;
        text-align: center;
        a {
            margin: 10px 0 !important;
        }
    }
    img.three-col-icon.icon1 {
        width: 60%;
    }
    img.three-col-icon.icon2 {
        width: 37%;
    }
    img.three-col-icon.icon3 {
        width: 37%;
    }
    img.three-col-icon {
        max-width: 42%;
        margin: 5px;
    }
    .three-col-icon-box {
        min-height: 82px;
    }
    img.three-col-icon.icon2 {
        margin-top: 4px;
    }
    .slide-text {
        padding: 0 10px;
    }
    .privacy-link-wrapper a {
        font-size: 10px !important;
    }
    h2.branch-office-location-header {
        font-size: 22px !important;
    }
    #popup-menu {
        display: none !important;
        visibility: hidden !important;
    }
    .short-stack {
        height: 200px !important;
    }
    .mm-accolades {
        font-size: 20px !important;
        min-height: 100px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: flex-start !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }
    a.mm-accolades.mm-col-1 p,
    a.mm-accolades.mm-col-2 p {
        max-width: 42px !important;
        text-align: center !important;
    }
    .mm-menu-close-wrapper {
        max-width: 100%;
        background: white;
        margin: 0 auto;
        width: 100%;
        text-align: right;
        height: 80px;
    }
    .mm-main-menu-wrapper .mm-main-menu {
        padding-top: 25px;
        // top: 77px;
    }
    #masthead {
        padding-bottom: 5px;
    }
    #mm-close-main-menu {
        margin-right: 0;
        height: 100%;
        padding-top: 0;
        display: flex;
        align-items: flex-start;
        padding-top: 35px;
    }
    .mm-mobile-menu-logo {
        text-align: left;
        width: 100%;
        padding-left: 5%;
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
            max-width: 180px;
        }
    }
    ul#primary-menu {
        height: 70px;
        padding-top: 0;
    }
    .mm-main-menu-wrapper {
        z-index: 10;
    }
    .intercom-lightweight-app,
    .intercom-lightweight-app-launcher,
    iframe#intercom-frame {
        z-index: 100 !important;
    }
}

@media screen and (min-width: 769px) {
    .mm-mobile-menu-logo {
        display: none !important;
        visibility: hidden !important;
    }
    #mobile-menu {
        display: none !important;
        visibility: hidden !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .three-col h3 {
        min-height: 90px;
    }
    img.three-col-icon.icon2 {
        margin-top: 14px;
    }
    .icon3 {
        margin-top: 17px;
    }
    1 p.three-col-p {
        min-height: 242px;
    }
    .row.three-col-row {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 993px) {
    .three-col {
        margin-bottom: 35px;
    }
}

.post {
    padding-top: 95px;
}


/* Display Posts */

.listing-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    .title {
        color: black;
        text-align: center;
        font-weight: 500;
        line-height: 1.3;
        font-size: 26px;
        height: 70px;
        margin: 14px auto 5px;
    }
    .image {
        max-height: 384px;
        overflow: hidden;
        padding-top: 60px;
    }
    img {
        width: 500px !important;
        transition: all 1.3s ease;
        &:hover {
            transform: scale(1.05);
            transition: linear all 1.6s;
            opacity: 0.9;
        }
    }
}

.lo-story-link,
.our-story-link {
    cursor: pointer !important;
}

.display-posts-listing.grid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

span.category-display {
    opacity: 0;
    height: 0;
}


/* News banner */

.mm-news-banner {
    padding: 0 5%;
    // background: #2b8ae8;
    color: white;
    height: 42px !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    a {
        color: white !important;
        text-decoration: underline !important;
    }
}


/* Topbar */

.mm-topbar {
    height: 32px !important;
    padding: 7px 0 10px;
    background: #f6f6f6;
    font-weight: 600;
    display: block;
    ul {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 90%;
    }
    li {
        display: flex;
        font-size: 15px;
        font-weight: 400;
        font-family: 'open sans';
        color: #504e4e;
        letter-spacing: 0.35px;
    }
    i {
        margin-right: 9px;
        font-size: 17px;
        margin-top: -3px;
        // color: $color__brand-primary;
        color: #6d6d6d;
    }
    i.fa.fa-mobile {
        font-size: 23px;
    }
    p {
        line-height: 1.2;
        margin-bottom: 1px;
        transition: all 300ms ease;
        display: flex;
        justify-content: flex-start;
        font-size: 15px;
        cursor: pointer !important;
        font-family: sans-serif;
        font-weight: 400;
        letter-spacing: 0.35px;
        color: #504e4e !important;
    }
    a {
        color: #504e4e !important;
        &:visited {
            color: #000;
        }
    }
}

a.btn.theme-button.apply-now-button.learn-more:visited {
    color: white !important;
}

.mm-topbar-links {
    width: 190px;
    text-align: justify;
    justify-content: space-between;
    >p:first-of-type {
        padding-right: 12px;
        border-right: 1px solid rgba(0, 0, 0, 0.31);
    }
    i {
        color: #2b89e8;
        color: #6c6c6c;
        padding-top: 3px !important;
    }
}

li.mm-topbar-links>p>a:hover {
    opacity: 0.8;
}

nav#site-navigation,
ul#primary-menu {
    transition: all 0.2s ease;
}

.mm-full-height {
    height: 100%;
}

.mm-step-title {
    border-bottom: 1px solid #c2ddef;
    padding-bottom: 20px;
    padding-top: 30px;
    font-weight: 600;
    font-size: 29px !important;
}

.scroll-up-link {
    width: 42px;
    height: 42px;
    border: 2px solid #838383;
    position: fixed;
    bottom: 28px;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    display: none;
    right: 90px;
    margin-right: 10px;
    opacity: 0.65;
    border-radius: 100%;
    img {
        width: 25px;
        opacity: 0.42;
    }
}

.mm-titlebar {
    height: 350px;
    // background: $color__brand-primary;
    overflow: hidden;
    background-attachment: fixed !important;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 73% 10%;
    height: 325px;
    margin-top: 100px;
    height: 200px;
    position: relative;
}

.mm-titlebar-title>h1.mm-entry-title {
    z-index: 9;
    font-family: "open sans", sans-serif !important;
    color: white;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
    min-width: 300px;
}

.hs-lo-team,
.lo-title {
    font-size: 24px;
    text-transform: uppercase;
}

.hs-lo-team {
    font-weight: lighter;
}

.mm-overlay {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.mm-overlay,
.mm-section-header-1 .mm-overlay,
.mm-section-header-2 .mm-overlay,
.mm-section-header-3 .mm-overlay,
.mm-section-header-4 .mm-overlay {
    background: rgba(51, 153, 255, 0.84);
}

.mm-titlebar-title {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center !important;
}

.lo-info-wrapper {
    margin-top: 42px;
    z-index: 4;
    position: relative;
}

.lo-info,
.lo-title:active,
.lo-title:visited,
.lo-info>a,
a.lo-title,
.lo-title>a {
    color: white !important;
}

.lo-info {
    .lo-title {
        color: white !important;
    }
}

.lo-image-wrapper img {
    width: 180px;
}

h1.lo-name {
    margin: 0;
    color: white;
    font-size: 42px;
    font-weight: bold;
}

.social-media-links-wrapper i {
    background: white;
    width: 42px !important;
    height: 42px !important;
    border-radius: 100%;
    margin: 5px 3px 0;
    color: #2f80d5;
    padding: 9px;
    font-size: 25px;
    transition: all 0.2s ease;
}

.social-media-links-wrapper i:hover {
    opacity: 0.6;
}

.lo-info div {
    margin-bottom: 4px;
    font-weight: lighter;
    text-transform: uppercase;
}

.mm-stats {
    background: white;
    padding-top: 27px;
    height: 175px;
    height: auto;
    align-items: flex-start;
}

.mm-min-height-p {
    min-height: 164px;
}

.short-stack {
    height: 27vh;
    margin-top: 10px;
    padding-top: 30px;
}

a.mm-accolades.mm-col-1.mm-a-emulate {
    // color: $color__brand-primary;
    cursor: pointer;
    &:hover {
        color: midnightblue;
    }
}

.three-col-wrapper {
    text-align: center;
}

.branch-homepage.three-col-wrapper {
    padding: 50px 0 20px;
    background: white;
    .row.three-col-row {
        background: white;
    }
}

// .three-col-row,
// .three-col-wrapper {
//     background: #fff !important;
// }
.mm-accolades {
    font-size: 20px;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.mm-icon-wrapper img {
    display: none;
}

.mm-accolades a {
    color: #17436f !important;
    display: none;
}

.mm-icon-wrapper {
    min-height: 78px;
}

.lo-mobile-phone a,
.lo-primary-phone a {
    color: white !important;
}

div#about,
div#calculator,
div#homebuyers-guide,
div#reviews {
    margin-top: -100px;
    padding-top: 100px;
}

table#tvcSubDetailTable1 tr p {
    margin-bottom: 0;
}

.cTimeValue TH {
    font-weight: normal;
    padding-top: 4px;
    padding-bottom: 4px;
}

.mm-borrower-ratings-wrapper {
    padding: 25px;
}

.mm-testimonial-slider {
    width: 100%;
    text-align: center;
    height: 100px !important;
}

.mm-form-footer p {
    margin: 0 !important;
}

.mm-homebuyers-guide-section .button-container {
    width: 100%;
    text-align: center;
    margin-top: -30px;
}

a.btn.cta-btm-btn.mm-download-now-btn {
    background: transparent !important;
    // color: $color__brand-primary !important;
    transition: all 0.3s ease;
}

a.btn.cta-btm-btn.mm-download-now-btn:hover {
    color: #006ab8 !important;
}

.mm-guide-tagline-wrapper {
    width: 100%;
}

.mm-tagline {
    max-width: 840px;
    margin: 30px auto 0;
}


/* Form Styles */

.los-page-overlay {
    overflow: scroll !important;
}

.modal-form-container {
    background: transparent;
}

.mm-cta,
.mm-modal-img-wrapper {
    width: 50%;
}

.mm-modal-img-wrapper {
    margin-top: -15px;
    text-align: center;
}

.mm-cta p {
    color: #665;
}

.mm-form-body,
.mm-form-footer {
    display: flex;
    justify-content: center;
    background: white;
}

.mm-form-fields,
.mm-user-wrapper {
    width: 50%;
}

.mm-form-fields {
    padding: 42px;
}

p.footer-disclaimer {
    font-size: 12px;
    line-height: 1.5;
}

.mm-cta p:first-of-type {
    font-weight: bold;
    font-size: 27px;
    color: #665;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.mm-user-contact {
    width: 80%;
    text-align: left;
    padding-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    padding: 0 20px !important;
    height: 48px!important;
}

label#field_q1m6e2_label {
    color: #666;
    font-weight: normal !important;
    width: 100%;
    text-align: center;
}

.mm-user-contact p {
    margin: 0;
    padding: 0;
    color: #665 !important;
}

.mm-user-contact p a,
.mm-user-contact p a:visited {
    color: #665 !important;
}

.mm-email-wrapper,
.mm-phone-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

i.fa.fa-print {
    color: #656565 !important;
}

img.mm-modal-form-logo {
    max-height: 45px !important;
    margin-top: -10px;
}

.modal-form-container {
    overflow: scroll;
    border-radius: 3px;
}

.mm-user-wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
    border-right: solid 1px #dad9d9;
}

.mm-user-info {
    padding-bottom: 20px;
}

.mm-user-info h1 {
    padding: 0;
    line-height: 1;
    color: #666;
    font-size: 26px;
}

.mm-user-info h2,
.mm-user-info h3 {
    font-size: 14px;
    line-height: 1;
    color: #665;
    font-weight: 500;
}

p.mm-landing-page-form-policy {
    font-size: 9.8px;
    text-align: justify;
    font-weight: 500;
    line-height: 1.4;
    margin: 20px 0;
}

div#frm_form_3_container button.frm_button_submit.frm_final_submit {
    // background: $color__brand-primary;
    color: white;
    border: none;
    margin: 0 0 15px;
    transition: all 0.3s ease-out;
    width: 100%;
    height: 48px;
    font-weight: 200;
}

.mm-form-footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    font-size: 16px !important;
    line-height: 1.9;
    color: #424040;
    font-weight: lighter;
    font-family: sans-serif;
}

.mm-form-footer img {
    height: 30px;
    margin-bottom: 0;
}

p.mm-intro-rules {
    color: #665;
    text-align: center;
}

.mm-calculator-section {
    height: auto;
    padding-bottom: 20px;
}

div#frm_form_5_container {
    max-width: 60%;
    margin: 0 auto;
    text-align: center !important;
}

div#frm_form_5_container .frm_submit {
    text-align: center !important;
}

div#frm_form_5_container .frm_half {
    width: 100% !important;
}

div#frm_form_5_container button.frm_button_submit.frm_final_submit {
    border: none !important;
    box-shadow: none !important;
    color: white !important;
    text-transform: uppercase !important;
    // background: $color__brand-primary !important;
    border-radius: 0 !important;
    width: 140px !important;
    padding: 10px !important;
    margin: 0 auto !important;
}

@media screen and (max-width: 992px) {
    .mm-blog-filters ul li {
        margin: 5px !important;
    }
    .container.mm-narrow.content-page ul {
        margin-left: 0;
    }
    .mm-main-menu-wrapper .mm-main-menu {
        min-height: 800px !important;
    }
    li.mm-topbar-links {
        width: 176px;
        justify-content: flex-start;
    }
    button#responsive-menu-button {
        top: 42px !important;
        // background: $color__brand-primary !important;
        right: 0 !important;
    }
    button.menu-toggle {
        display: none !important;
        visibility: hidden !important;
        height: 0 !important;
    }
    .mm-tagline {
        padding: 0;
        margin-bottom: 0;
    }
    .mm-branch-contact-info.row {
        padding-top: 0;
    }
    .mm-cta-btm h4 {
        padding: 0 20px;
        text-align: center;
    }
    .blurb-wrapper {
        padding: 37px;
        width: 100%;
    }
    .mm-contact-info-wrapper {
        padding-top: 0 !important;
    }
    .mm-branch-contact-info.row {
        padding-top: 0 !important;
    }
    .mm-contact-page {
        padding-top: 42px !important;
    }
    .mm-blog-filters {
        display: none !important;
        visibility: hidden !important;
        ul {
            li {
                margin: 0 11px;
                line-height: 1.2;
                font-size: 12px;
                text-align: center;
                font-weight: bold;
            }
        }
    }
    .mm-contact-blurb {
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        padding: 35px 5px;
        text-align: justify;
        background: #FFF;
        p {
            max-width: 92%;
        }
        h2 {
            margin-bottom: 15px;
        }
        .mm-team-page-about-section {
            padding: 30px;
        }
        .deserves {
            display: none !important;
        }
        .mm-cta-btm {
            h4 {
                font-weight: normal;
            }
        }
    }
    .privacy-link-wrapper {
        a {
            font-size: 14px;
            line-height: 1;
        }
    }
    footer>.container {
        width: 90%;
    }
    .mm-titlebar {
        min-width: 0;
    }
    .mm-titlebar.mm-lo-home-titlebar {
        min-width: 0;
    }
    .lo-info {
        padding: 5px;
    }
    h1.lo-name {
        font-size: 33px !important;
    }
    .mm-accolades,
    .mm-buyers-guide {
        width: 30%;
    }
    .mm-accolades p {
        font-size: 14px;
    }
    footer#main-footer {
        padding-bottom: 42px !important;
    }
    .scroll-up-link {
        right: 10px;
    }
    .mm-cta-mobile {
        display: block;
    }
    .mm-user-wrapper {
        display: none;
    }
    .lo-site.mm-homepage-blurb {
        padding: 0;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        .intro-p {
            max-width: 100%;
            padding: 15px;
        }
    }
    .mm-buyers-guide {
        width: 100%;
        margin: 20px;
    }
    .mm-stats.mm-homebuyers-guide-section {
        height: auto;
        padding-bottom: 40px;
    }
    .mm-stats.mm-homebuyers-guide-section .mm-guide-tagline-wrapper {
        margin-bottom: 25px;
    }
    #responsive-menu-container #responsive-menu,
    #responsive-menu-container #responsive-menu ul {
        width: 100%;
        padding-top: 42px;
    }
    .three-col-wrapper {
        text-align: center;
        max-width: 80%;
        margin: 20px auto;
    }
    p.three-col-p {
        min-height: 100px;
    }
    .mm-testimonials-wrapper {
        padding-top: 42px;
    }
    .mm-testimonial-slider {
        height: 205px !important;
    }
    .carousel-indicators,
    span.carousel-control-prev-icon {
        display: none !important;
        visibility: hidden !important;
    }
    span.carousel-control-next-icon {
        display: none !important;
        visibility: hidden !important;
    }
    .slide-text {
        max-width: 500px;
    }
    .mm-team-page-about-section {
        padding: 20px;
    }
    .three-col {
        width: 100%;
    }
    .row.three-col-row.hs-values .icon1 {
        width: 100px !important;
    }
    .container.mm-lo-box .row {
        margin-block-end: 5px;
    }
    .mm-titlebar-title {
        margin-top: 0 !important;
    }
    .lo-image {
        margin-top: 20px;
    }
    a.custom-logo-link {
        img {
            width: 180px;
        }
    }
    .mm-contact-section {
        background: #faf9f9;
        padding: 0;
        line-height: .8
    }
    /* Mobile Navigation */
    ul#primary-menu li {
        display: none;
    }
    ul#popup-menu li {
        font-size: 24px;
    }
    .mm-main-menu-wrapper .mm-main-menu a:hover {
        opacity: 1 !important;
    }
    ul.sub-menu {
        li {
            height: 44px !important;
            a {
                text-transform: uppercase;
                font-size: 22px;
                opacity: 0.7;
                font-weight: normal !important;
            }
        }
    }
    /* Mobile Homepage Heros */
    .mm-captions-wrapper {
        padding: 5vh 5px 5px !important;
        text-align: center;
        display: flex !important;
        align-items: center;
        min-height: 80vh !important;
        max-width: none;
        height: auto !important;
        flex-wrap: nowrap !important;
        flex-direction: column !important;
    }
    .mm-captions-wrapper h1 {
        font-size: 37px;
        margin-bottom: 30px;
        max-width: 85vw !important;
        text-align: center;
        width: 100%;
    }
    .lo-second-photo {
        max-width: 100%;
        margin-bottom: 20px;
        text-align: center;
        img {
            width: 60%;
            margin-top: 20px;
        }
    }
    .lo-site .mm-homepage-blurb .intro-p {
        max-width: 100%;
        padding: 15px;
    }
    .lo-site .mm-homepage-blurb {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }
    .mm-content {
        max-width: 90%;
    }
    .mm-flex-row {
        display: block;
        margin-bottom: 42px;
        padding-top: 42px;
        line-height: 1.2;
    }
    .mm-faq-wrapper {
        max-width: 90% !important;
    }
    .mm-homepage-blurb ul.display-posts-listing {
        display: block;
    }
    /* Mobile Blog */
    .post .entry-content {
        padding: 25px !important;
        margin: 0 auto;
        width: 100% !important;
        background: white;
    }
}

@media screen and (min-width: 993px) {
    .mm-panel-group {
        max-width: 1100px;
        margin: 20px auto;
    }
    .cTimeValue {
        padding: 25px 30px;
        .Summary {
            color: #3b99fc;
            padding: 0 0 10px;
            font-size: 20px;
        }
    }
    table#tvcInputTable1>tbody>tr>td>p {
        text-align: left;
        margin-bottom: 15px;
    }
    .cTimeValue .Description {
        text-align: center;
    }
    .mm-cta-mobile {
        display: none;
    }
    .los-page-overlay {
        padding-top: 5vh;
    }
}

@media screen and (min-width: 1640px) {
    .three-col-icon-box {
        min-height: 200px;
    }
}

.mm-panel-heading {
    cursor: pointer;
}

.mm-panel-heading p:first-of-type {
    width: 75%;
    float: left;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

.mm-panel-heading p:last-of-type {
    width: 40%;
    float: right;
    text-align: right;
}

.mm-panel-body {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    display: none;
    padding: 20px 20px 42px;
    background: whitesmoke;
    margin-bottom: 60px;
    padding: 25px;
}

.mm-panel-body p,
.mm-panel-body ul {
    padding-left: 20px;
}

.mm-panel-body p {
    background: #f6f6f6;
}

i.fa.fa-minus {
    display: none;
}
 
i.fa.fa-minus,
i.fa.fa-plus {
    color: #9ac1dc;
    // color: $color__brand-primary;
}

.mm-content h3 {
    font-weight: bold;
    margin-top: 20px;
}

.mm-panel-group {
    background: white;
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px solid rgba(128, 128, 128, 0.18);
    padding: 30px 20px 0;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.mm-panel-group:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

li.mm-panel-subset {
    margin-top: 0;
    list-style-type: disc;
    margin-left: 35px;
}

p.mm-panel-subset-title {
    padding-left: 0;
    color: black;
    font-size: 17px;
}

.mm-step-title {
    border-bottom: 2px solid rgba(129, 163, 197, 0.36);
    font-size: 35px !important;
    font-weight: normal;
    margin-bottom: 30px;
}

h4.mm-step-title {
    font-size: 27px !important;
}

.mm-panel-subset span {
    color: black;
    font-size: 17px;
}

.mm-faq-wrapper {
    max-width: 65%;
    margin: 0 auto;
}

.mm-step-title {
    text-align: center;
}

.mm-panel-heading {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto 20px;
}

.mm-panel-heading p {
    display: inline;
    height: 100%;
}

.mm-panel-group {
    border-left: 5px solid #d2deeb;
}

.mm-cta-btm {
    background: #f6f6f6;
}

.mm-faq-intro {
    padding: 20px 0;
    color: #3e484f;
    font-size: 18px;
    line-height: 1.8;
}

.content-page {
    padding-bottom: 60px;
}

.content-page li,
.content-page ol,
.content-page p,
.content-page ul {
    color: #3e484f;
    font-size: 18px;
    line-height: 1.8;
}

.content-page li>ol,
.content-page li>ul {
    margin-bottom: 15px;
}

.mm-btn-set {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
    a {
        margin: 20px 25px 0;
        padding: 9px 42px;
    }
}

@media (min-width: 993px) {
    ul#primary-menu li {
        height: 97px;
    }
    .content-page {
        max-width: 1070px !important;
    }
    .container.mm-narrow.content-page {
        width: 80%;
        max-width: 1070px !important;
    }
}

@media (min-width: 1400px) {
    .carousel-indicators {
        z-index: 4;
        bottom: 110px !important;
    }
}

#mm-homepage-slider #mm-homepage-slider,
#mm-homepage-slider .carousel-inner,
#mm-homepage-slider div#carouselExampleIndicators {
    min-height: 800px;
}

@media screen and (min-width: 1800px) {
    .row.three-col-row {
        max-width: 75%;
    }
    article.post .entry-content,
    article.post header.entry-header {
        width: 50%;
    }
    .mm-topbar-links {
        width: 195px;
    }
    .short-stack {
        height: 23vh;
    }
}


/* First posts styles */

article#post-1 {
    margin-top: 28vh;
}


/* Information banner */

@media screen and (max-width: 992px) {
    .mm-news-banner {
        height: 93px;
    }
}

@media screen and (max-width: 992px) {
    .mm-news-banner a,
    .mm-news-banner p {
        font-size: 11px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1580px) {
    .mm-news-banner a,
    .mm-news-banner p {
        font-size: 16px;
    }
}

@media screen and (min-width: 1800px) {
    .mm-news-banner {
        padding: 9px 16.8% !important;
    }
}

@media screen and (max-width: 768px) {
    .mm-news-banner {
        height: 48px !important;
        p {
            line-height: 1.2;
        }
    }
    .mm-news-banner .mm-hamburger-box.mm-main-menu-icon.mm-close-menu-icon span {
        background: white;
    }
    .mm-news-banner #mm-close-main-menu {
        padding-top: 24px;
    }
}