@import "bourbon";

.template-navigation.theme-header-background {
  display: none !important;
}

.template-header-logo-container.is-large {
  display: none;
}

.step-one {
  max-height: 100%;
}
@media screen and (min-width: 700px)and (max-width: 992px) {
  .los-form-container {
    width: 90vw !important;
    height: 93vh !important;
    margin: 20px auto !important;
  }
}
@media screen and (max-width: 992px) {
  .top-bar {
    height: 75px !important;
  }

  .nav-content-wrapper img {
    padding: 5px 25px 15px !important;
  }

  .footer-links > ul {
    width: 100% !important;
  }

  .los-page-overlay {
    width: 100vw !important;
    height: 120vh !important;
  }

  .step-one img {
    max-width: 35vw;
  }

  .mm-logo img {
    margin-top: 0;
  }

  .step-one {
    overflow-y: scroll !important;
  }
}
@media screen and (min-width:993px) {
  .los-page-overlay {
    padding-top: 9vh;
  }

  .step-one img {
    max-width: 55vw;
  }
}

#los-trigger {
  cursor: pointer !important;
}

.los-page-overlay {
  width: 100vw !important;
  height: 120vh !important;
  color: white !important;
  position: fixed !important;
  left: 0 !important;
  z-index: 9999999999999 !important;
  background-color: rgba(51,153,255,0.88) !important;
  overflow: hidden !important;
  display: none;
  top: 0 !important;
}

.los-form-container {
  width: 65vw;
  height: 75vh;
  min-height: 390px !important;
  padding: 25px !important;
  border-radius: 3px !important;
  top: -50px;
  border: 1px none 1px solid rgba(6, 6, 6, 0.14) !important;
  box-shadow: 0 10px 25px 4px rgba(2, 2, 2, 0.25) !important;
  background-color: #fff !important;
  position: relative !important;
  margin-left: auto !important;
  margin-right: auto !important;
  z-index: 9999999999999999 !important;
  text-align: center !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.4s ease;

  button {
    font-weight: 400;
  }
}

.step-one img {
  max-width: 24vw;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.los-form-title,
.los-init-title,
.redirect-msg p {
  line-height: 1.5;
  color: #10446C;
  font-size: 20px;
  font-family: 'Open Sans', Arial, Lucida, sans-serif;
  margin-bottom: 40px;
}

#back-btn,
#getlo-btn,
.action-btn {
  width: max-content;
  min-width: 90px;
  background: white;
  font-weight: 300;
  color: #17486f !important;
  font-size: 15px !important;
  border: 1px solid #c2c4c5;
  border-radius: 10px;
  cursor: pointer;
  padding: 11px 5px;
  margin: 10px 5px;
  transition: all 0.2s ease;
  width: 140px;
  height: 50px;
}

#back-btn i,
#getlo-btn i,
.action-btn i {
  margin-left: -12px;
  opacity: 0;
  border-radius: 100%;
  background: white;
  color: #3498ff;
  width: 16px;
  height: 16px;
  transition: all 0.2s ease;
  padding: 0;
}

#back-btn:focus,
#back-btn:hover,
#getlo-btn:focus,
#getlo-btn:hover,
.action-btn:focus,
.action-btn:hover {
  background: #3399ff;
  color: white !important;
  border: 1px solid #3399ff;
  padding-left: 10px;
}

#back-btn:focus i,
#back-btn:hover i,
#getlo-btn:focus i,
#getlo-btn:hover i,
.action-btn:focus i,
.action-btn:hover i {
  margin-left: 7px;
  opacity: 1;
  background: #3399ff;
  color: #fff;
  margin-right: 4px;
}

#back-btn > div,
#getlo-btn > div,
.action-btn > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  display: block;
  padding: 10px 70px 10px 13px !important;
  max-width: 100%;
  background-color: #fff;
  color: #444444;
  font-size: 12px;
  line-height: 16px !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 10px center;
}

.los-form-container select {
  width: 85px;
  height: auto !important;
  box-sizing: border-box;
  background: url("/wp-content/themes/manntwentytwenty/assets/arrow-down.png") right center no-repeat !important;
  color: #888f97 !important;
  font-size: 15px !important;
  padding: 18px !important;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

#close-los {
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  position: absolute;
  transform: scale(1.5, 1);
  -webkit-transform: scale(1.5, 1);
  width: 20px;
  height: 20px;
  top: 15px;
  right: 17px;
  font-size: 24px;
  color: #318be5 !important;
}

#close-los:hover {
  color: #3399ff !important;
  font-size: 24px;
}
//
// #close-los span:nth-child(1) {
//   -webkit-transform: rotate(140deg);
//   -moz-transform: rotate(140deg);
//   -o-transform: rotate(140deg);
//   transform: rotate(140deg);
//   -webkit-transition: 0.15s ease-in-out;
//   -moz-transition: 0.15s ease-in-out;
//   -o-transition: 0.15s ease-in-out;
//   transition: 0.15s ease-in-out;
//   width: 1px !important;
//   position: absolute;
//   height: 18px !important;
//   background: #0e578b !important;
// }

// #close-los span:nth-child(2) {
//   -webkit-transform: rotate(40deg);
//   -moz-transform: rotate(40deg);
//   -o-transform: rotate(40deg);
//   transform: rotate(40deg);
//   -webkit-transition: 0.25s ease-in-out;
//   -moz-transition: 0.25s ease-in-out;
//   -o-transition: 0.25s ease-in-out;
//   transition: 0.25s ease-in-out;
//   width: 1px !important;
//   position: absolute;
//   height: 18px !important;
//   background: #0e578b !important;
// }

// #close-los:hover span:nth-child(1),
// #close-los:hover span:nth-child(2) {
//   margin-top: -2px;
//   height: 21px !important;
//   background: #c2c4c5 !important;
// }

.intro-text {
  color: #0f5e92;
  font-size: 27px;
  margin-bottom: 45px;
  line-height: 1.5;
}

.redirect-msg,
.step-yolo {
  display: none;
}
@media screen and (max-height: 390px) {
  .los-form-container {
    width: 65vw;
    height: 270px;
    min-height: 150px !important;
    padding: 10px !important;
    top: -75px;
  }
}
@media screen and (max-height: 600px) {
  .los-form-container {
    overflow-y: scroll;
  }
}
@media screen and (max-width: 700px) {
  .step-one img {
    max-width: 55vw;
  }

  .los-form-container {
    width: 90vw !important;
    height: 80vh !important;
    margin: 40px auto !important;
  }
}

.step-one {
  max-height: 100%;
}

.template-main p {
  line-height: 1.9 !important;
}

ol,
td,
ul {
  line-height: 1.9 !important;
}
